<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous">
    </head>
    <body>

        <div id="app" class="container">
            <h1>{{titulo}}</h1>

            <input type="text" name="" id="" class="fotm-control"
                v-model="nuevaFruta" @keyup.enter="agregarFruta">
            <button class="btn btn-info" @click.prevent="agregarFruta">Agregar
                Fruta</button>

            <ul>
                <li v-for="fruta in frutas">
                    <input type="number" name="" id=""
                        class="form-controlcol-sm-1"
                        v-model.number="fruta.cantidad"> - {{fruta.nombre}}
                    <button class="btn btn-primary" @click="fruta.cantidad++">+</button>
                    <span v-if="fruta.cantidad===0"> - Sin Stock</span>
                </li>
            </ul>


            <h4 class="display-4">TOTAL: {{sumarFrutas}}</h4>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="js/01.js"></script>
    </body>
</html>